{
  "parser": "babel-eslint",
  "extends": ["airbnb", "eslint:recommended", "plugin:react/recommended"],
  "plugins": ["react"],
  "rules": {
    "linebreak-style": 0
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "globals": {
    "workbox": true
  }
}
